{% load shop_tags %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="/">j Shop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Главная</a></li>
                <li class="nav-item"><a class="nav-link" href="/">Информация</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Категории</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/">Все товары</a></li>
                        <li><hr class="dropdown-divider" /></li>

                        {% get_categories_list as categories_list %}
                        {% for category in categories_list %}
                            <li><a class="dropdown-item" href="{% url 'category' slug=category.slug %}">{{ category.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>

            <form class="d-flex">
                <a class="btn btn-outline-dark" href="{% url 'basket' %}">
                    <i class="bi-cart-fill me-1"></i>
                    Корзина
                    {% get_user_products_in_basket_templatetag user_id=user.id as amount_users_products_in_basket %}
                    <span class="badge bg-dark text-white ms-1 rounded-pill">{{ amount_users_products_in_basket }}</span>
                </a>
            </form>

        </div>

    </div>

    <div class="navbar-sign-text">
        {% check_is_us_signin username=user.username as checked_user_auth %}
        {% if checked_user_auth %}
            Добро пожаловать, {{ user.username }}!
            <a href="{% url 'logout' %}"> Выйти </a>
        {% else %}
            <a href="{% url 'signup' %}"> Регистрация </a>
            /<a href="{% url 'signin' %}"> Войти</a>
        {% endif %}
    </div>

</nav>