{% extends 'main/base.html' %}
{% block title %} Корзина покупок j-Shop - Интернет-магазин техники {% endblock %}

{% block content %}
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

                {% for basket_model_product in basket_model_products %}
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top img-size-control" src="{{ basket_model_product.product.image.url }}" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <a href="{{ basket_model_product.product.get_absolute_url }}"><h5 class="fw-bolder">{{ basket_model_product.product.name}}</h5></a>
                                <!-- Product price-->
                                {{ basket_model_product.product.price }} <br>
                                <h5> Заказано: {{ basket_model_product.amount }} шт.</h5>
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">

                            <form action="" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="hidden" name="product_id" value="{{ basket_model_product.product.id }}">

                                    <div class="button-plus-minus text-center">
                                        <button type="submit" name="decrease_amount" class="btn btn-outline-dark mt-auto btn-width"> -1 </button>
                                        <button type="submit" name="increase_amount" class="btn btn-outline-dark mt-auto btn-width"> +1 </button>
                                    </div>

                                    <div class="button-delete text-center">
                                        <button type="submit" name="delete_product" class="btn btn-outline-dark mt-auto"> delete </button>
                                    </div>
                            </form>

                        </div>
                    </div>
                </div>

                {% endfor %}

            </div>

            <div class="pagination-block">
                <div class="pagination">

                    {% if basket_model_products.has_previous %}
                        <a href="?page={{ products.number|add:-1 }}">«</a>
                    {% endif %}

                    {% if basket_model_products.number|add:-2 > 1 %}
                        <a href="?page=1"> 1 </a>
                        <a class="deactivate-url" href=""> ... </a>
                    {% endif %}

                    {% for page in basket_model_products.paginator.page_range %}
                        {% if page == products.number %}
                            <a class="active" href="?page={{ page }}"> {{ page }} </a>
                        {% elif page >= basket_model_products.number|add:-2 and page <= basket_model_products.number|add:2 %}
                            <a href="?page={{ page }}"> {{ page }} </a>
                        {% endif %}
                    {% endfor %}

                    {% if basket_model_products.number|add:2 < basket_model_products.paginator.num_pages %}
                        <a class="deactivate-url" href=""> ... </a>
                        <a href="?page={{ products.paginator.num_pages }}"> {{ basket_model_products.paginator.num_pages }} </a>
                    {% endif %}

                    {% if basket_model_products.has_next %}
                    <a href="?page={{ products.number|add:1 }}">»</a>
                    {% endif %}

                </div>
            </div>

        </div>

    </section>



{% endblock %}