{% extends 'main/base.html' %}
{% block title %}j-Shop - Интернет-магазин техники{% endblock %}

{% block content %}
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

                {% for product in products %}
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        {% if product.stock == 0 %}
                            <img class="card-img-top img-size-control img-for-no-product" src="{{ product.image.url }}" alt="..." />
                        {% else %}
                            <img class="card-img-top img-size-control" src="{{ product.image.url }}" alt="..." />
                        {% endif %}

                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <a href="{{ product.get_absolute_url }}"><h5 class="fw-bolder">{{ product.name}}</h5></a>
                                <!-- Product price-->
                                {{ product.price }}
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            {% if product.stock == 0 %}
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto deactivate-url" href="#">Товар закончился</a></div>
                            {% else %}
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Добавить в корзину</a></div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}



            </div>

        <div class="pagination-block">
            <div class="pagination">

                {% if products.has_previous %}
                    <a href="?page={{ products.number|add:-1 }}">«</a>
                {% endif %}

                {% if products.number|add:-2 > 1 %}
                    <a href="?page=1"> 1 </a>
                    <a class="deactivate-url" href=""> ... </a>
                {% endif %}

                {% for page in products.paginator.page_range %}
                    {% if page == products.number %}
                        <a class="active" href="?page={{ page }}"> {{ page }} </a>
                    {% elif page >= products.number|add:-2 and page <= products.number|add:2 %}
                        <a href="?page={{ page }}"> {{ page }} </a>
                    {% endif %}
                {% endfor %}

                {% if products.number|add:2 < products.paginator.num_pages %}
                    <a class="deactivate-url" href=""> ... </a>
                    <a href="?page={{ products.paginator.num_pages }}"> {{ products.paginator.num_pages }} </a>
                {% endif %}

                {% if products.has_next %}
                <a href="?page={{ products.number|add:1 }}">»</a>
                {% endif %}

            </div>
        </div>


        </div>

    </section>



{% endblock %}